* {
    color: rgb(86, 86, 245);
}

/* QuickReset * { margin: 0; box-sizing: border-box; } */

/* body { min-height: 400vh;  /* force some scrollbars  } */

/* .commpany-symbol-marquee{
    margin: 5px; */
/* } */
.stock-status-price-marquee{
    margin: 1px;
}
.stock-status-percentage-marquee{
    margin: 1px;
}

.item{
    display: flex;
}
.search-wrapper {
    display: flex;
    flex-direction: row;
}

.btn {
    width: 10%;
    background-color: #fff;
    border-color: black;
}

.header {
    text-decoration: none;
}

.input {
    width: 90%;
    font-size: 1rem;
    color: rgb(86, 86, 245);
}

.stocks {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid black;
    background-color: white;
    padding: 0.5rem;
}

.data-stocks-container {
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); */
    gap: 0.25rem;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.hide {
    display: none;
}

.company-page-header {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.company-name {
    margin-top: 6rem;
}

#stock-status {
    margin-left: 5rem;
}
.stock-status-percentage {
    color: rgb(46, 167, 46);
}
.company-page-body {
    margin-top: 2%;
    padding-left: 4%;
    padding-right: 4%;
}
